Cabeçalho 1
Cabeçalho 2
Cabeçalho 3
Cabeçalho 4
Cabeçalho 5
Cabeçalho 6
Cabeçalho 7
Cabeçalho 8
Cabeçalho 9
Cabeçalho 10
Cabeçalho 11
Cabeçalho 12
Livro 1,2024-01-01,Localidade 1
Livro 2,2024-01-01,Localidade 1
Livro 3,2024-01-01,Localidade 2
Livro 4,2024-01-01,Localidade 2
Livro 5,2024-01-01,Localidade 3 